<div class="eqLogic eqLogic-widget allowResize" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width: #width#;height: #height#;min-height:245px;#style#;">
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
        <i class="fas fa-sync"></i>
    </span>
    <span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
    <center class="widget-name">
        <span class="reportModeVisible">#name_display#<span class="object_name">#object_name#</span></span>
        <a href="#eqLink#" class="reportModeHidden">#name_display#<span class="object_name">#object_name#</span></a>
    </center>


    <script>
        $('.eqLogic[data-eqLogic_uid=#uid#] .cmd').on('click', function () {
            jeedom.cmd.execute({id: $(this).data('cmd_id')});
        }); 
    </script>

</div>