/data/json_dev/equipements.json
/data/json_dev/commentMac.json
/data/json_dev/mapping.json
/data/dev/v1/commentMac.json
/data/dev/v1/equipements.json
/data/dev/v1/mapping.json
/data/dev/modeDev
/data/json/equipements.json
/data/json/mapping.json
/data/json/commentMac.json
